<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div th:fragment="footer" class="bg-success-subtle">
        <div class="container">
            <div class="rows my-5">
                <p>© 2024 HRD System, Inc. All rights reserved.</p>
            </div>
            <footer class="py-5">
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">

                </div>
            </footer>
        </div>
    </div>

</body>
</html>